/*MOBILE FIRST*/

.featured {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 64px 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.featured_title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  text-align: center;
}

.featured_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

.featured_grid > *:nth-child(n + 7) {
    display: none;
}

.featured_btn {
  margin: 0 auto;
  width: 100%;
  height: 44px;
  border: 2px solid #8808CC;
  border-radius: 6px;
  background-color: #8808CC;
  cursor: pointer;

  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  transition: 0.2s;
}

.featured_btn:hover {
  background: transparent;
  color: black;
  
}

.featured_btn:active{
    background: #E7CDF4;
}


/*TABLET ≥ 768*/

@media (min-width: 768px) {
  .featured {
    max-width: 768px;
    padding: 64px 32px;
    gap: 40px;
  }

  .featured_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  .featured_grid > *:nth-child(n + 7) {
    display: flex;
}

  .featured_btn {
    width: 211px;
  }
}


/*DESKTOP ≥ 1440*/

@media (min-width: 1440px) {
  .featured {
    max-width: 1440px;
    padding: 112px 64px;
  }

  .featured_grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }
}


