.page {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 32px;
  padding-bottom: 64px;
}

/* tablet */
@media (min-width: 768px) {
  .page {
    grid-template-columns: 1fr;
  }
}

/* desktop */
@media (min-width: 1440px) {
  .page {
    grid-template-columns: 1.2fr 1fr;
    align-items: start;
    flex-direction: row;
  }
}
