.header {
  padding: 24px 26px;
  background-color: white;
}

.footer {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: var(--color-neutral-darkest);
  padding: 24px 26px;
  background-color: white;
  text-align: left;
}

.imageSection {
  display: none;
}

.mainContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 26px 32px;
  }

  .footer {
    padding: 26px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 26px 64px;
  }

  .authContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
  }

  .footer {
    padding: 26px 64px;
  }

  .imageSection {
    display: block;
  }
}
