.feedback {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 100vw;
  overflow-x: hidden;

  @media (min-width: 1440px) {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}

.feedback--tool {
  padding: 32px 0;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 80px;
}

.titleContainer--tool {
  margin-bottom: 40px;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;

  /* @media (min-width: 1440px) {
    font-size: 36px;
  } */
}

.feedbackBtn {
  width: 100%;
  max-height: 41px;
  @media (min-width: 768px) {
    width: max-content;
    font-size: 14px;
  }
  @media (min-width: 1440px) {
    width: max-content;
    font-size: 16px;
    max-height: 44px;
  }
}

.feedbackBtn:hover,
.feedbackBtn:focus {
  background-color: var(--color-electric-violet-lighter);
}

.feedbackBtn:active {
  background-color: var(--color-electric-violet);
  border-color: var(--color-electric-violet);
  color: var(--color-white);
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.author {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.feedbackItemBox {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.swiper {
  margin-bottom: 48px;
}

.feedbackSwiperContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrows {
  display: flex;
  gap: 16px;
}

.feedbackSwiperBtnDisabled {
  background: var(--color-scheme-1-foreground);
  opacity: 0.4;
  pointer-events: none;
}

/* .feedbackSwiperContainer :global(.swiper-pagination-bullet) {
  transform: scale(0.8);
  transition:
    background-color 0.3s ease,
    opacity 0.3s ease;
  margin: 3px !important;
  width: 10px;
  height: 10px;
}

.feedbackSwiperContainer :global(.swiper-pagination-bullet-active) {
  background-color: var(--color-scheme-1-text);
  transform: scale(1.4);
  opacity: 1;
}

.feedbackSwiperContainer
  :global(.swiper-pagination-bullet-active + .swiper-pagination-bullet),
.feedbackSwiperContainer
  :global(.swiper-pagination-bullet:has(+ .swiper-pagination-bullet-active)) {
  transform: scale(1);
} */


.pagination {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 14px;
}

/* Базова крапка */
.dot {
  border: 0;
  padding: 0;
  
  background-color: var(--color-scheme-1-text, #000);
  
  border-radius: 999px;
  opacity: 0.2;
  cursor: pointer;
  flex: 0 0 auto;
}

/* Маленькі крайні */
.dotSmall {
  width: 8px;
  height: 8px;
}

/* Сусідні */
.dotMid {
  width: 10px;
  height: 10px;
  opacity: 0.55;
}

/* Центральна активна */
.dotMain {
  width: 14px;
  height: 14px;
}

/* Активна */
.dotActive {
  opacity: 1;
}

/* Заблокована (якщо знадобиться) */
.dotDisabled {
  opacity: 0.2;
  cursor: default;
}


/* -------Btn--------- */

.arrows {
  pointer-events: auto;
  display: flex;
  gap: 16px;
}

.arrowBtn {
  width: 48px;
  height: 48px;
  border: 2px solid var(--color-scheme-1-border);
  border-radius: 6px;
  background: var(--color-white);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowBtn:hover,
.arrowBtn:focus {
  background: var(--color-electric-violet-lighter);
}
.arrowBtn:active {
  background: var(--color-electric-violet);
}
.btnIcon:active {
  fill: var(--color-white);
}

.arrowBtn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
  border-color: var(--color-black);
}

.arrowBtn:disabled .btnIcon {
  fill: var(--color-black);
}
