.section {
    padding: 64px 20px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-bottom: 80px;
}

.swiperWrapper {
    position: relative;
}

.swiper {
    position: relative;
    padding-bottom: 72px;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px;
    border-radius: 24px;
    background: #fff;
}

.text {
    font-size: 18px;
    line-height: 1.5;
}

.author {
    margin-top: auto;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
}




:global(.swiper-pagination),
:global(.swiper-button-prev),
:global(.swiper-button-next) {
    top: auto !important;
    bottom: 0 !important;
}

:global(.swiper-pagination) {
    left: 0 !important;
    right: auto !important;
    width: auto !important;

    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;


    position: absolute;
    z-index: 1;
    pointer-events: auto;
    overflow: visible !important;
    transform: none !important;
}

:global(.swiper-pagination-bullet) {
    width: 8px;
    height: 8px;
    margin: 0 !important;
    border-radius: 999px;

    background: #d9d9d9;
    opacity: 1;
}

:global(.swiper-pagination-bullet-active) {
    width: 14px;
    height: 14px;
    background: #111;
}

:global(.swiper-pagination-bullet-active-main) {
    width: 14px;
    height: 14px;
}

:global(.swiper-pagination-bullet-active-prev),
:global(.swiper-pagination-bullet-active-next) {
    width: 10px;
    height: 10px;
}

:global(.swiper-pagination-bullet-active-prev-prev),
:global(.swiper-pagination-bullet-active-next-next) {
    width: 8px;
    height: 8px;
}

:global(.swiper-button-prev),
:global(.swiper-button-next) {
    display: none !important;
}

.nav {
    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    gap: 8px;

    z-index: 5;
    pointer-events: auto;
}

.navBtn {
    width: 48px;
    height: 48px;
    padding: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--color-scheme-1-foreground);
    border: 2px solid var(--color-scheme-1-border);
    border-radius: 4px;
    cursor: pointer;
    transition: background 200ms, border-color 200ms, color 200ms, opacity 200ms, border-radius 200ms;
    color: var(--color-scheme-1-text);
    pointer-events: auto;
}

.navBtn svg {
    width: 24px;
    height: 24px;
    display: block;
    fill: currentColor;
    stroke: currentColor;
}

/* hover */
.navBtn:hover, 
.navBtn:focus-visible {
    background: var(--color-electric-violet-lighter);
    border-color: var(--color-neutral-darkest);
    border-radius: 6px;
    outline: none;
}

.navBtn:active {
    background: var(--color-electric-violet);
    border-color: var(--color-white);
    border-radius: 6px;
    color: var(--color-white);
}

.navBtn:global(.swiper-button-disabled) {
    opacity: 0.4;
    cursor: default;
}

.navBtn:global(.swiper-button-disabled):hover,
.navBtn:global(.swiper-button-disabled):active {
    background: var(--color-scheme-1-foreground);
    border-color: var(--color-scheme-1-border);
    color: var(--color-scheme-1-text);
    border-radius: 4px;
}