.feedbackSection {
  padding: 64px 0;
}

.feedbackStaticBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 80px;
}

.feedbackTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
}

.feedbackBtn {
  font-family: var(--font-family);
  border: 2px solid var(--color-neutral-darkest);
  border-radius: 6px;
  padding: 8px 110px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-neutral-darkest);
  transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out,
    color 300ms ease-in-out;
}

.feedbackBtn:hover,
.feedbackBtn:focus {
  background-color: var(--color-electric-violet-lighter);
}

.feedbackBtn:active {
  background-color: var(--color-electric-violet);
  border-color: var(--color-electric-violet);
  color: var(--color-white);
}

.feedbackItemBox {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.feedbackItemText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  min-height: 81px;
}

.feedbackItemName {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
}

.feedbackSwiper {
  margin-bottom: 48px;
}

.feedbackSwiperContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedbackSwiperBtnBox {
  display: flex;
  gap: 16px;
}

.feedbackSwiperBtnDisabled {
  background: var(--color-scheme-1-foreground);
  opacity: 0.4;
  pointer-events: none;
}

.feedbackSwiperContainer :global(.feedback-pagination) {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.feedbackSwiperContainer :global(.swiper-pagination-bullet) {
  transform: scale(0.8);
  transition: background-color 0.3s ease, opacity 0.3s ease;
  margin: 0 !important;
}

.feedbackSwiperContainer :global(.swiper-pagination-bullet-active) {
  background-color: var(--color-scheme-1-text);
  transform: scale(1.2);
  opacity: 1;
}

.feedbackSwiperContainer
  :global(.swiper-pagination-bullet-active + .swiper-pagination-bullet),
.feedbackSwiperContainer
  :global(.swiper-pagination-bullet:has(+ .swiper-pagination-bullet-active)) {
  transform: scale(1);
}

@media only screen and (min-width: 768px) {
  .feedbackStaticBox {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
  .feedbackBtn {
    padding: 8px 28px;
    max-height: 41px;
  }
}

@media only screen and (min-width: 1440px) {
  .feedbackSection {
    padding: 112px 0;
  }
  .feedbackTitle {
    font-size: 48px;
  }
  .feedbackBtn {
    font-size: 16px;
    max-height: 44px;
  }
  .feedbackItemText {
    font-size: 20px;
    min-height: 90px;
  }
  .feedbackItemName {
    font-size: 16px;
  }
}
