.filterBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;

  @media (max-width: 1439px) {
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
  }
}

.filtersGroup {
  display: flex;
  gap: 32px;
  align-items: center;

  @media (max-width: 1439px) {
    justify-content: space-between;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: stretch;
    gap: 32px;
  }
}

.sortGroup {
  display: flex;
  gap: 32px;
  align-items: center;

  @media (max-width: 1439px) {
    justify-content: space-between;
  }

  @media (max-width: 767px) {
    flex-direction: column-reverse;
    align-items: stretch;
    gap: 16px;
  }
}

.selectWrapper {
  position: relative;
  max-width: 304px;

  @media (max-width: 767px) {
    max-width: 100%;
  }
}

.select:not(:last-child) {
  mrgin-right: 32px;
}

.selectWrapper:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  width: 7px;
  height: 7px;
  border-right: 2px solid var(--opacity-neutral-darkest-60);
  border-bottom: 2px solid var(--opacity-neutral-darkest-60);
  transform: translateY(-50%) rotate(45deg);
  transition: transform 0.25s ease;
  pointer-events: none;
}

.select {
  width: 100%;
  height: 40px;
  padding: 8px 40px 8px 12px;
  border-radius: 6px;
  border: 2px solid var(--color-neutral-darkest);
  font-size: 14px;
  cursor: pointer;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;

  &.categorySelect {
    width: 304px;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &.sortSelect {
    width: 191px;

    
    @media (max-width: 1439px) {
      min-width: 243px;
    }

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  
}

.selectWrapperOpen {
  border-bottom: none;

  .select {
    width: 100%;
    height: 40px;
    padding: 8px 40px 8px 12px;
    border-radius: 6px 6px 0 0;
    border: 2px solid var(--color-electric-violet-light);
    border-bottom: 2px solid var(--color-electric-violet-light);
    background-color: var(--color-electric-violet-lightest);
    font-size: 14px;
    cursor: pointer;
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;

    &.categorySelect {
      width: 304px;
    }

    &.sortSelect {
      width: 191px;
    }
  }

  .dropdown {
    border: 2px solid var(--color-electric-violet-light);
    border-radius: 0 0 6px 6px;
  }
}

.selectWrapperOpen:after {
  transform: translateY(-50%) rotate(225deg);
}

.select:focus-visible {
  outline: none;
  border-color: #9C4DFF;
}

.selectLabel {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.option {
  padding: 8px 12px;
  font-size: 14px;
  color: #3E216D;
  cursor: pointer;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.option:hover {
  background: #D9B8FF;
  color: #280F4A;
}

.optionSelected {
  background: #E5CCFF;
  color: #280F4A;
  font-weight: 500;
}

.resetBtn {
  min-width: max-content;
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  @media (max-width: 767px) {
    align-self: flex-start;
    font-size: 14px;
  }
}

.resetBtn:hover {
  text-decoration: underline;
}

.dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  max-height: 240px;
  overflow-y: auto;
  border-radius: 6px;
  border: 1px solid #7A2EE6;
  background: #F6E8FF;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 4px 4px 4px 0;
  z-index: 10;

  scrollbar-width: thin;
  scrollbar-color: #6C06A3 transparent;
}

.dropdown::before {
  content: "";
  position: absolute;
  top: 6px;
  bottom: 6px;
  right: 4px;
  width: 3px;
  border-radius: 4px;
  pointer-events: none;
}

.dropdown::-webkit-scrollbar {
  width: 7px;
}

.dropdown::-webkit-scrollbar-track {
  background: transparent;
}

.dropdown::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #6C06A3;
  min-height: 56px;
}