.filterBar {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 32px;
}

.select {
  height: 40px;
  width: 304px;
  padding: 8 12px;
  border-radius: 6px;
  border: 2px solid #000;
  background: #fff;
  font-size: 14px;
}

.resetBtn {
  margin-left: auto;
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.resetBtn:hover {
  text-decoration: underline;
}
