.filterBar {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  margin-bottom: 32px;
}

.select {
  height: 40px;
  min-width: 280px;
  max-width: 335px;
  width: 100%;
  padding: 8 12px;
  border-radius: 6px;
  border: 2px solid #000;
  background: #fff;
  font-size: 16px;
}

.resetBtn {
  margin-right: auto;
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.resetBtn:hover {
  text-decoration: underline;
}
