/* MOBILE FIRST */

.filterBar {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.filtersGroup {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sortGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 16px;
}

.selectWrapper {
  position: relative;
  width: 100%;
}

.select {
  position: relative;
  display: flex;
  gap: 8px;
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  border-radius: 6px;
  border: 2px solid var(--color-neutral-darkest);
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  appearance: none;
  display: flex;
  align-items: center;
  text-align: left;
}

.select:focus-visible {
  outline: none;
  border-color: #9c4dff;
}

.selectLabel {
  width: 100%;
  flex: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selectWrapperOpen .select {
  border-color: #AB52DB;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #F3E6F9;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 0 0 6px 6px;
  border: 2px solid #AB52DB;
  border-top: none;
  background: #f6e8ff;
  z-index: 20;
}

.osWrap {
  max-height: 265px;
}

.osWrap :global(.os-scrollbar) {
  --os-handle-bg: #6c06a3;
  --os-handle-bg-hover: #6c06a3;
  --os-handle-bg-active: #6c06a3;

}

.osWrap :global(.os-scrollbar-handle) {
  width: 7px !important;
  height: 56px !important;
  border: solid 2px  #6c06a3;
  border-radius: 4px;
  margin-right: -2px;
}

.osWrap :global(.os-scrollbar-track) {
  background-color: #AB52DB;
  border-radius: 4px;
  width: 3px;
  height: 255px;
  margin: 3px 7px auto -1.5px;
}
/*
.list {
  margin: 0;
  padding: 5px;
  list-style: none;
}*/

.option {
  display: flex;
  align-items: center;
  min-height: 40px;
  padding: 8px 28px 8px 12px;
  font-size: 14px;
  cursor: pointer;
  white-space: normal;
}

.option:hover {
  background: #E7CDF4;

}

.optionSelected {
  background: #E7CDF4;
}

.resetBtn {
  background: none;
  border: none;
  padding: 0;
  align-self: flex-start;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: #000;
}

.resetBtn:hover {
  text-decoration: underline;
}

.icon {
  flex-shrink: 0;
  right: 12px;
  width: 24px;
  height: 24px;
  stroke: currentColor;
  transition: transform 0.25s ease;
}

.iconOpen {
  opacity: 0.6;
}

/* TABLET ≥ 768px */


@media (min-width: 768px) {
  .filtersGroup {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .sortGroup {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .selectWrapper {
    min-width: 304px;
    max-width: 304px;

  }

  .sortSelectwrapper {
    min-width: 243px;
    max-width: 243px;
  }

  .resetBtn {
    font-size: 16px;
    align-self: center;
  }
}

/* DESKTOP ≥ 1440px */

@media (min-width: 1440px) {
  .filterBar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .filtersGroup {
    gap: 32px;
  }

  .sortSelectwrapper {
    min-width: 191px;
    max-width: 191px;
  }

  .sortGroup {
    gap: 32px;
  }
}
