.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 16px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }
}

.inputWrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: 6px;
  color: var(--color-white);
  background: transparent;
  outline: none;

  font-size: 16px;

  @media screen and (min-width: 768px) {
    min-width: 428px;
  }

  @media screen and (min-width: 1440px) {
    flex-direction: row;
    min-width: 416px;
  }
}

.inputError {
  border-color: var(--color-red-light);
  color: var(--color-red-light);
}

.input:focus,
.input:focus-visible,
.input:active {
  border-color: var(--color-electric-violet);
}

.input.inputError:active,
.input.inputError:focus,
.input.inputError:focus-visible {
  border-color: var(--color-red-light);
}

.input::placeholder {
  color: var(--opacity-white-60);
}

.button {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: max-content;
  }
}

.error {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 4px;
  font-size: 14px;
  color: var(--color-red-light);
}
