.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 16px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 32px;
  }
}

.inputWrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: 6px;
  color: var(--color-white);
  background: transparent;
  outline: none;

  font-size: 16px;

  @media screen and (min-width: 768px) {
    min-width: 428px;
  }

  @media screen and (min-width: 1440px) {
    flex-direction: row;
    min-width: 416px;
  }
}

.inputError {
  border-color: var(--color-red-light);
  color: var(--color-red-light);
}

.input:focus, .input:focus-visible, .input:active {
  border-color: var(--color-electric-violet);
}

.input.inputError:active, .input.inputError:focus,
.input.inputError:focus-visible {
  border-color: var(--color-red-light);
}

.input::placeholder {
  color: var(--opacity-white-60);
}

.button {
  padding: 10px 24px;
  background: var(--color-electric-violet);
  border: 2px solid var(--color-electric-violet-dark);
  color: var(--color-white);
  border-radius: 6px;
  cursor: pointer;
  white-space: nowrap;
  
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  user-select: none;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background: var(--color-white);
    border: 2px solid var(--color-electric-violet-dark);
    color: var(--color-neutral-darkest);
  }
}

.button:active {
  background: var(--color-electric-violet-lighter);
  border: 2px solid var(--color-electric-violet-dark);
  color: var(--color-neutral-darkest);
}

.button:disabled {
  background: var(--color-electric-violet-lighter);
  border: 2px solid var(--color-electric-violet-lighter);
  color: var(--color-white);
  cursor: default;
}

.error {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 4px;
  font-size: 14px;
  color: var(--color-red-light);
}
