/* .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
/* :global(.air-datepicker) {
    position: static !important;
    margin-top: 12px;
  } */

.calendar {
  width: 100%;
  max-width: 335px;
  position: relative;
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .calendar {
    width: 704px;
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
  .calendar {
    width: 864px;
  }
}
