/* DateRangePicker.module.css

/* твій контейнер */
.calendar {
  /* базові змінні AirDatepicker */
  --adp-color-primary: #6c63ff;
  /* головний акцентний колір */
  --adp-color-hover: #ececff;
  /* фон при наведенні */
  --adp-color-selected: #6c63ff;
  /* вибрані дати */
  --adp-color-in-range: #dcdcff;
  /* дати всередині діапазону */
  --adp-cell-size: 42px;
  /* розмір клітинки */
  --adp-border-radius: 8px;
  /* скруглення */
  --adp-font-family: 'Inter', sans-serif;
  --adp-font-size: 14px;
  --adp-nav-action-size: 28px;
}

/* глобальні стилі для внутрішніх класів бібліотеки */
.calendar :global(.air-datepicker) {
  width: 100%;
  border: none;
  font-family: 'Inter', sans-serif;
  background: transparent;
  overflow: hidden;
}

.calendar :global(.air-datepicker-nav) {
  border-bottom: none !important;
}

/* .calendar :global(.air-datepicker--content) {
  border: 1.5px solid var(--color-scheme-1-border) !important;
  border-radius: 6px;
  overflow: hidden;
} */

/* лівий верхній кут */

.calendar :global(.air-datepicker-nav--title) {
  display: contents;
}

.calendar :global(.air-datepicker-nav) {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  grid-template-areas: 'year prev month next';
  align-items: center;
  padding-bottom: 16px;
  border-bottom: none !important;
  column-gap: 16px;
}

.calendar :global(.dp-year) {
  grid-area: year;
}
.calendar :global(.air-datepicker-nav--action[data-action='prev']) {
  grid-area: prev;
}
.calendar :global(.dp-month) {
  grid-area: month;
}
.calendar :global(.air-datepicker-nav--action[data-action='next']) {
  grid-area: next;
}

.calendar :global(.dp-year) {
  grid-column: 1;
  justify-self: start;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-3-text);

  @media (min-width: 1440px) {
    font-size: 18px;
  }
}

.calendar :global(.air-datepicker-nav--action[data-action='prev']) {
  grid-column: 2;
}

.calendar :global(.dp-month) {
  grid-column: 3;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-3-text);
  @media (min-width: 1440px) {
    font-size: 18px;
  }
}

.calendar :global(.air-datepicker-nav--action[data-action='next']) {
  grid-column: 4;
}

.calendar :global(.air-datepicker-nav--action path) {
  stroke: var(--color-scheme-1-text);
}
.calendar :global(.air-datepicker-nav--action svg) {
  transform: scale(1.35);
  transform-origin: center;
}

.calendar :global(.air-datepicker-body--day-name) {
  text-transform: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #222730;

  @media (min-width: 1440px) {
    font-size: 20px;
  }
}

.calendar :global(.air-datepicker-cell) {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #222730;

  @media (min-width: 1440px) {
    font-size: 16px;
  }
}

.calendar :global(.air-datepicker-cell),
.calendar :global(.air-datepicker-body--day-name) {
  border-radius: 0 !important;
  border: 1px solid var(--color-scheme-1-border);
}

.calendar :global(.air-datepicker-body--day-names) {
  margin: 0;
  padding: 0;
}

.calendar :global(.air-datepicker-cell-day) {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #222730;
}

.calendar :global(.air-datepicker-cell.is-booked) {
  color: rgba(0, 0, 0, 0.35);
  cursor: not-allowed;
}

.calendar :global(.air-datepicker-body--day-name:first-child),
.calendar :global(.air-datepicker-cell:nth-child(7n + 1)) {
  border-left-width: 2px;
}

.calendar :global(.air-datepicker-cell:nth-last-child(-n + 7)) {
  border-bottom-width: 2px;
}

.calendar :global(.air-datepicker-body--day-name:last-child),
.calendar :global(.air-datepicker-cell:nth-child(7n)) {
  border-right-width: 2px;
}

.calendar :global(.air-datepicker-body--day-name) {
  border-top-width: 2px;
}

.calendar :global(.air-datepicker-body--day-name:first-child) {
  border-top-left-radius: 6px !important;
}

/* правий верхній кут */
.calendar :global(.air-datepicker-body--day-name:last-child) {
  border-top-right-radius: 6px !important;
}

.calendar :global(.air-datepicker-cell:nth-last-child(7)) {
  border-bottom-left-radius: 6px !important;
}

.calendar :global(.air-datepicker-cell:last-child) {
  border-bottom-right-radius: 6px !important;
}
