.emptyFeedbacksBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.emptyFeedbacksTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
}

.emptyFeedbacksText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
}

@media only screen and (min-width: 1440px) {
  .emptyFeedbacksTitle {
    font-size: 24px;
  }
  .emptyFeedbacksText {
    font-size: 18px;
  }
}
