.priceInputs {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 16px;

  & input {
    height: 100%;
    width: max-content;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 14px;
    color: var(--color-neutral-darkest);

    @media (min-width: 768px) {
      max-width: 144px;
    }

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  & input:focus {
    border: 2px solid #8808cc;
    outline: none;
  }

  & input::placeholder {
    color: var(--opacity-neutral-darkest-60);
  }
}