.priceInputs {
  display: flex;
  align-items: center;
  gap: 16px;

  & input {
    width: 100%;
    max-width: 144px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 14px;
    placeholder: rgba(0, 0, 0, 0.6);
    color: var(--color-neutral-darkest);
  }

  & input:focus {
    border: 2px solid #8808cc;
    outline: none;
  }
}