/* MOBILE FIRST */

.priceInputs {
  display: flex;
  align-items: center;
  gap: 16px;
}

.priceInputs input {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 14px;
  color: var(--color-neutral-darkest);
  background-color: transparent;
}

.priceInputs input:focus {
  border-color: #8808cc;
  outline: none;
}

.priceInputs input::placeholder {
  color: var(--opacity-neutral-darkest-60);
}

/* TABLET ≥ 768px */

@media (min-width: 768px) {
  .priceInputs input {
    max-width: 144px;
  }
}
