.registBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding-top: 64px;
  padding-bottom: 64px;
}

.registContent {
  width: 100%;
}

.registWrapper {
  width: 100%;
}

.registTitle {
  text-align: left;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
  margin-bottom: 24px;
  width: 100%;
  max-width: 335px;
  word-wrap: anywhere;
}

.registText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 32px;
  width: 100%;
  max-width: 335px;
}

.registButton {
  margin: 32px 0;

  @media screen and (min-width: 1440px) {
    margin-bottom: 0
  }
}

.registImageWrapper {
  width: 100%;
}

.registImage {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .registWrapper {
    max-width: 768px;
  }

  .registTitle {
    max-width: 704px;
  }

  .registText {
    max-width: 704px;
  }

  .registImageWrapper {
    max-width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .registBox {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .registWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    max-width: 1440px;
    padding: 0 64px;
  }

  .registContent {
    max-width: 755px;
  }

  .registTitle {
    font-size: 48px;
    max-width: 755px;
  }

  .registText {
    font-size: 18px;
    max-width: 755px;
  }

  .registImageWrapper {
    margin-left: auto;
    max-width: 525px;
  }
}
