.btnContainer {
  display: flex;
  gap: 16px;
}

.deleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-neutral-darkest);
  border-radius: 6px;
  padding: 8px;
  width: 40px;
  height: 40px;
}

.editBtn {
  height: 40px;
  width: 100%;
}
