.btnContainer {
  display: flex;
  gap: 16px;
}

.deleteIcon {
  width: 24px;
  height: 24px;
  display: block; /* щоб не було дивних відступів */
  flex: 0 0 24px; /* щоб flex не розтягував */
}

.deleteBtn {
  border-radius: 6px;
  padding: 6px;
  width: 40px;
  height: 40px;
}

.editBtn {
  height: 40px;
  width: 100%;
}
