.form {
  height: 100%;
  width: 100%;
}
.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.formFields {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.formGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: black;
}

.previewContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.previewImg {
  width: 100%;
  margin-bottom: 24px;
  border-radius: 16px;
  object-fit: contain;
  display: block;
  overflow: hidden;
}

.placeholderText {
  margin-bottom: 8px;
}

.toolsWrapper {
  width: 100%;
}

.placeholder {
  border-radius: 16px;
  margin-bottom: 24px;
  margin-top: 8px;
  object-fit: cover;
  display: block;
  width: 100%;
  height: auto;
}
.hidden {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.uploadButton {
  margin-top: 24px;
}
.input {
  width: 100%;
  box-sizing: border-box;
  margin-top: 8px;
  border: 2px solid #000;
  border-radius: 6px;
  padding: 8px 12px;
  height: 43px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.6);
}

.categorySelectWrapper {
  min-width: 100%;
}

.input:focus {
  border: 2px solid #8808cc;
  outline: none;
}

.error {
  border: 2px solid #c40202;
  color: #c40202;
  border-radius: 6px;
  padding: 8px 12px;
}
.errorText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #c40202;
}

.button {
  width: max-content;
  width: 100%;
}

.uploadPhotoButton {
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.textarea {
  width: 100%;
  box-sizing: border-box;
  margin-top: 12px;
  border: 2px solid #000;
  border-radius: 6px;
  padding: 12px;
  height: 180px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  resize: none;
}

.textarea:focus {
  border: 2px solid #8808cc;
  outline: none;
}

.textareaRent {
  height: 70px;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding-bottom: 72px;
  padding-top: 32px;
}

@media screen and (min-width: 768px) {
  .toolsWrapper {
    max-width: 704px;
  }

  .previewImg {
    max-height: 470px;
  }
}

@media screen and (min-width: 1440px) {
  .form {
    display: flex;
    gap: 32px;
  }

  .margin {
    margin-bottom: 72px;
  }

  .buttonGroup {
    max-width: 415px;
    padding-top: 36px;
    padding-bottom: 0px;
  }

  .previewImg {
    max-height: 575px;
  }

  .flexContainer {
    flex: 1;
  }
}
