.air-datepicker {
  width: 100%;
  max-width: 100%;
  --adp-padding: 0px;
  --adp-width: 100%;
  --adp-day-cell-height: 56px;
  font-family: 'Inter', sans-serif;
  background: var(--color-scheme-3-background);
  overflow: hidden;
}

.air-datepicker-body--day-names {
  height: 56px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
}

.air-datepicker-cell {
  padding: 0px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid var(--color-scheme-1-border);
}

.air-datepicker-body--day-name {
  border: 1px solid var(--color-scheme-1-border);
  border-radius: 6px;
  color: #222730;
}
.air-datepicker-cell.-disabled- {
  color: #a5b3bf;
  text-decoration: line-through;
}

.air-datepicker-cell.-in-range-,
.air-datepicker-cell.-range-from-,
.air-datepicker-cell.-range-to- {
  background-color: #e8d9ff;
  color: #000;
  border: 1px solid var(--color-scheme-1-border);
  border-radius: 6px;
}

.air-datepicker-cell.-selected-.-focus- {
  background: #e8d9ff;
}
.air-datepicker-cell.-current- {
  color: blueviolet;
}

.-selected-.air-datepicker-cell.-year-.-other-decade-, .-selected-.air-datepicker-cell.-day-.-other-month- {
  background-color: #e8d9ff;
    color: #000;
}

.air-datepicker-cell .-month- {
gap: 10px;
}

.-in-range-.air-datepicker-cell.-day-.-other-month- {
  background-color: #e8d9ff;
}

.air-datepicker-cell:hover {
  background-color: inherit;
}


.-in-range-.air-datepicker-cell.-day-.-other-month- {
  background-color: #e8d9ff;
}
