/* контейнер календаря */
.air-datepicker {
  border: 2px solid var(--color-electric-violet-light);
  background-color: var(--color-electric-violet-lightest);
  border-radius: 6px;
  padding: 16px 0px 0px;
  width: 335px;
  height: 373px;
}

/* два місяці поруч */
/* .air-datepicker-body--day-names, */
.air-datepicker-body--cells {
  gap: 2px;
}

/* шапка */
.air-datepicker-nav {
  /* border-bottom: none; */
  padding: 8px 12px;
}

/* назва місяця */
.air-datepicker-nav--title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-3-text);
}

/* стрілки */
.air-datepicker-nav--action {
  border-radius: 50%;
}
.air-datepicker-nav--action:hover {
  background: #f0f0f0;
}

/* день */
.air-datepicker-cell {
    border-radius: none;
  border: 1px solid var(--color-electric-violet-light);
  height: 36px;
  background-color: var(--color-electric-violet-lighter);
}

/* disabled */
.air-datepicker-cell.-disabled- {
  color: #ccc;
}

/* сьогодні */
.air-datepicker-cell.-current- {
  border: 1px solid var(--color-electric-violet-light);
}

/* початок / кінець */
/* .air-datepicker-cell.-range-from-,
.air-datepicker-cell.-range-to- {
  background: #1e90ff;
  color: #fff;
} */

/* між датами */
/* .air-datepicker-cell.-in-range- {
  background: rgba(30, 144, 255, 0.15);
} */

/* hover */
.air-datepicker-cell:not(.-disabled-):hover {
  background: #e8f1ff;
}
