:root {
  --color-scheme-1-background: var(--color-white);
  --color-neutral-darkest: #000;
  --color-scheme-1-border: var(--color-neutral-darkest);
  --color-scheme-1-text: var(--color-neutral-darkest);
  --color-neutral-lighter: #d8d8d8;
  --color-white: #fff;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-light: #b2b2b2;
  --color-neutral: #7f7f7f;
  --color-neutral-dark: #4c4c4c;
  --color-neutral-darker: #191919;
  --opacity-transparent: rgba(255, 255, 255, 0);
  --color-scheme-1-foreground: var(--color-white);
  --color-scheme-1-accent: var(--color-electric-violet);
  --opacity-white-5: rgba(255, 255, 255, 0.05);
  --opacity-white-10: rgba(255, 255, 255, 0.1);
  --opacity-white-15: rgba(255, 255, 255, 0.15);
  --opacity-white-20: rgba(255, 255, 255, 0.2);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --opacity-white-40: rgba(255, 255, 255, 0.4);
  --opacity-white-50: rgba(255, 255, 255, 0.5);
  --opacity-white-60: rgba(255, 255, 255, 0.6);
  --opacity-neutral-darkest-5: rgba(0, 0, 0, 0.05);
  --opacity-neutral-darkest-10: rgba(0, 0, 0, 0.1);
  --opacity-neutral-darkest-15: rgba(0, 0, 0, 0.15);
  --opacity-neutral-darkest-20: rgba(0, 0, 0, 0.2);
  --opacity-neutral-darkest-30: rgba(0, 0, 0, 0.3);
  --opacity-neutral-darkest-40: rgba(0, 0, 0, 0.4);
  --opacity-neutral-darkest-50: rgba(0, 0, 0, 0.5);
  --opacity-neutral-darkest-60: rgba(0, 0, 0, 0.6);
  --color-electric-violet-lightest: #f3e6f9;
  --color-electric-violet-lighter: #e7cdf4;
  --color-electric-violet-light: #ab52db;
  --color-electric-violet: #8808cc;
  --color-electric-violet-dark: #6c06a3;
  --color-electric-violet-darker: #360351;
  --color-electric-violet-darkest: #28023d;
  --color-scheme-2-text: var(--color-neutral-darkest);
  --color-scheme-2-background: var(--color-electric-violet-lightest);
  --color-scheme-2-border: var(--color-neutral-darkest);
  --color-scheme-2-accent: var(--color-electric-violet);
  --color-scheme-2-foreground: var(--color-electric-violet-lightest);
  --color-scheme-3-text: var(--color-neutral-darkest);
  --color-scheme-3-background: var(--color-neutral-lightest);
  --color-scheme-3-border: var(--color-neutral-darkest);
  --color-scheme-3-accent: var(--color-electric-violet);
  --color-scheme-3-foreground: var(--color-neutral-lightest);
  --color-red-dark: #c40202;
  --color-red-light: #ea3131;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--color-black);
  background: var(--color-scheme-3-background);
  font-family: var(--font-Inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  scroll-margin-top: 75px;
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 10px 24px;
  border: 2px solid;
  border-radius: 6px;
  cursor: pointer;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.5;
  transition: 0.3s ease;
  max-height: 44px;
}

.button--primary {
  border-color: var(--color-electric-violet);
  background-color: var(--color-electric-violet);
  color: var(--color-white);
}

.button--primary:hover,
.button--primary:focus-visible {
  color: var(--color-neutral-darkest);
  background-color: transparent;
  outline: none;
}

.button--primary:active {
  color: var(--color-neutral-darkest);
  background: var(--color-electric-violet-lighter);
}

.button--primary:disabled {
  background-color: var(--color-electric-violet-lighter);
  border-color: var(--color-electric-violet-lighter);
  color: var(--color-white);
  cursor: default;
}

.button--secondary {
  border-color: varvar(--color-neutral-darkest);
  background: transparent;
  color: var(--color-neutral-darkest);
}

.button--secondary:hover {
  background: var(--color-electric-violet-lighter);
}

.button--secondary:active {
  background: var(--color-electric-violet);
  color: var(--color-white);
  border-color: var(--color-electric-violet);
}

.button--secondary:disabled {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}