.burgerContainer {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.burgerButton {
  border: 2px solid var(--color-neutral-darkest);
  border-radius: 6px;
  padding: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.burgerButton:hover,
.burgerButton:focus {
  background-color: var(--color-electric-violet-lighter);
}

.burgerButton:active {
  background-color: var(--color-electric-violet);
}
