.section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 48px;
    margin: 0 auto;
    padding: 32px 20px;
    width: 375px;
    height: 930px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 48px;



    width: 335px;
    height: 866px;
    max-width: 1280px;
}

.titleBooking {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;

    width: 335px;
    height: 86px;
    max-width: 768px;
    gap: 16px;
}

.formBoking {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;

    width: 335px;
    height: 732px;
    max-width: 768px;
}

.blok_fameli_city {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;

    width: 335px;
    height: 168px;
}

.blok_fameli_city li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;

    width: 335px;
    height: 72px;
}

.blok_phone {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;

    width: 335px;
    height: 72px;
}

.blok_phone li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;

    width: 335px;
    height: 72px;
}

/* .blok_calendar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;

    width: 335px;
    height: 136px;
} */

.blok_calendar {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.blok_calendar ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;

    width: 335px;
    height: 104px;
}

.labels {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-scheme-3-text);
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;

    border: 2px solid var(--color-neutral-darkest);
    border-radius: 6px;
    padding: 8px 12px;
    width: 335px;
    height: 40px;

    background: var(--opacity-transparent);
}

.inputs_phone {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;

    border: 2px solid var(--color-neutral-darkest);
    border-radius: 6px;
    padding: 8px 12px;
    width: 335px;
    height: 40px;

    background: var(--opacity-transparent);
}

.blok_button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;

    width: 335px;
    height: 92px;
}

.button_boking {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;

    border: 1px solid var(--color-electric-violet);
    border-radius: 6px;
    padding: 10px 24px;
    width: 335px;
    height: 44px;

    background: var(--color-electric-violet);

    font-weight: 500;
    font-size: 16px;

    line-height: 1.5;
    color: var(--color-white);
}

@media screen and (min-width: 768px) {
    .deletePush {
        padding: 32px;
        width: 768px;
        height: 576px;
    }

    .container {
        width: 704px;
        height: 512px;
        max-width: 1280px;
    }

    .titleBooking {
        font-size: 30px;

        width: 704px;
        height: 36px;
        gap: 16px;
    }

    .formBoking {
        width: 704px;
        height: 428px;
        max-width: 768px;
    }

    .blok_fameli_city {
        flex-direction: row;

        width: 704px;
        height: 72px;
    }

    .blok_fameli_city li {
        width: 340px;
    }

    .blok_phone {
        width: 704px;
    }

    .blok_phone li {
        width: 704px;
    }

    .blok_calendar {
        flex-direction: column;
        gap: 8px;

        width: 704px;
        height: 72px;
    }

    .blok_calendar ul {
        flex-direction: row;
        gap: 24px;

        width: 704px;
        height: 72px;
    }

    .inputs_phone {
        gap: 8px;

        width: 704px;
        height: 40px;
    }

    .blok_button {
        justify-content: space-between;
        flex-direction: row;

        width: 704px;
        height: 44px;
    }

    .button_boking {
        gap: 8px;

        width: 155px;

        background: var(--color-electric-violet);

        font-weight: 500;
        font-size: 16px;

        line-height: 1.5;
        color: var(--color-white);
    }
}