.footer {
  background-color: var(--color-scheme-2-background);
  padding: 48px 0;
  margin: 0 auto;
}

.footer_container {
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 238px;
  height: 38px;
}

.logo_icon {
  width: 159px;
  height: 29px;
}

.nav_list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.nav_list_item {
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
}

.social_list_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.social_icon {
  width: 32px;
  height: 32px;
}

.social_link_item {
  display: inline-flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
}

.text_container {
  border-top: 2px solid var(--color-scheme-3-border);
  padding-top: 32px;
}

.footer_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-scheme-3-text);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer_container {
    margin-bottom: 40px;
  }

  .nav_list {
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 80px 0;
  }

  .footer_container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
  }

  .logo {
    width: 124px;
    height: 20px;
  }

  .logo_icon {
    width: 83px;
    height: 15px;
  }

  .social_icon {
    width: 24px;
    height: 24px;
  }

  .social_link_item {
    width: 24px;
    height: 24px;
  }

  .footer_text {
    font-size: 14px;
  }
}
