.footer {
  background-color: var(--color-electric-violet-lightest);
  padding: 48px 0;
  margin: 0 auto;
}

.footer_container {
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 238px;
  height: 38px;
}

.logo_icon {
  width: 159px;
  height: 29px;
}

.nav_list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.nav_list_item {
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-scheme-1-border);
  transition: 0.3s ease;
}

.nav_list_link {
  transition: border-bottom 0.3s ease;
}

.nav_list_link:hover,
.nav_list_link:focus {
  border-bottom: 1px solid var(--color-scheme-1-border);
}

.nav_list_link:active {
  border-bottom: 1px solid var(--color-electric-violet);
  color: var(--color-electric-violet);
}

.social_list_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.social_icon {
  width: 32px;
  height: 32px;
}

.social_link_item {
  display: inline-flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  border-radius: 6px;
}

.social_link_item:hover,
.social_link_item:focus {
  border: 1px solid var(--color-scheme-1-border);
  border-radius: 6px;
  background: var(--color-electric-violet-lightest);
}

.social_link_item:active .social_icon {
  border: none;
  fill: var(--color-electric-violet);
}

.text_container {
  border-top: 2px solid var(--color-neutral-darkest);
  padding-top: 32px;
}

.footer_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-neutral-darkest);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .nav_list {
    flex-direction: row;
  }

  .nav_list_item {
    font-size: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 80px 0;
  }

  .footer_container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
  }

  .logo {
    width: 124px;
    height: 20px;
  }

  .logo_icon {
    width: 83px;
    height: 15px;
  }

  .social_links {
    width: 124px;
    justify-content: end;
  }

  .social_icon {
    width: 24px;
    height: 24px;
  }

  .social_link_item {
    width: 24px;
    height: 24px;
  }

  .footer_text {
    font-size: 14px;
  }

  .nav_list_item {
    font-size: 14px;
  }
}