.footer {
  background-color: var(--color-scheme-2-background);
  padding: 48px 0;
  margin: 0 auto;
}

.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid var(--color-scheme-3-border);
  margin-bottom: 32px;
}

.logo {
  margin-bottom: 32px;
}

.logo_icon {
  width: 159px;
  height: 29px;
}

.nav_list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  margin-bottom: 32px;
}

.nav_list_item {
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
}

.social_links {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}

.footer_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-scheme-3-text);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .nav_list {
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .footer_container {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo_icon {
    width: 124px;
    height: 20px;
  }
}
