.picker {
  height: 400px;
  border: 2px solid var(--color-neutral-darkest);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  
}

.previewBox {
  width: 100%;
  height: 100%;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0;
}

.remove {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  cursor: pointer;
  background: transparent;
  border: none;
}

.wrapper {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.reload {
  opacity: 0;
}

.input {
  display: none;
}

@media only screen and (min-width: 1440px) {
.picker {
    width: 865px;
        /* або 320px як тобі треба */
        flex: 0 0 865px;
        height: 578px;
}
}
