/* Styles for Mobile devices */
.section {
  padding-top: 32px;
  padding-bottom: 32px;
}


.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
  margin-bottom: 16px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #000;
  margin-bottom: 16px;
}

.btn {
  width:100%;
}

/* Styles for Tablet devices */

@media screen and (min-width: 768px) {
  .section {
    padding-top: 138px;
    padding-bottom: 219.61px;
  }

  .title {
    width: 704px;
    font-size: 30px;
  }
  .text {
    width: 704px;
  }

  .btn {
    margin: 0 auto;
    white-space: nowrap;
    padding: 0;
    width: 129px;
    height: 40px;
  }
}

/* Styles for Desktop devices */

@media screen and (min-width: 1440px) {
 .section {
  padding-top: 154px;
  padding-bottom: 208px;
  /* min-height: calc(100vh - 72px - 322.6px); */
 }

  .title {
    width: 1312px;
    font-size: 42px;
  }

  .text {
    width: 1312px;
    font-size: 18px;
  }
}
