/* Styles for Mobile devices */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 20px;
  text-align: center;
  max-width: 375px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
  margin-bottom: 16px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #000;
  margin-bottom: 16px;
}

.button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  border: 1px solid #8808cc;
  border-radius: 6px;
  padding: 8px 127.5px;
  background: #8808cc;
  width: 335px;
}

.button:active {
  background: #e7cdf4;
  color: #000;
}

/* Styles for Tablet devices */

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-top: 138px;
    padding-bottom: 215.61px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .title {
    width: 704px;
  }
  .text {
    width: 704px;
  }

  .button {
    padding: 8px 20px;
    width: 120px;
  }
}
