.calendar {
    width: 100%;
    max-width: 335px;

    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

.labels {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-scheme-3-text);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 12px;
    font-weight: bold;
}

.monthNav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;

}

.month {
    font-weight: 700;
    font-size: 16px;

    font-family: var(--font-family);
    line-height: 1.5;
    color: var(--color-scheme-3-text);
}

.navBtn {
    display: flex;
    cursor: pointer;
    transition: color 0.2s ease;
    fill: var(--color-scheme-1-text);
}

.navBtn:hover {
    color: var(--color-electric-violet-lighter);
    font-size: 20px;
}

.grid {
    border-radius: 6px;
    border: 1px solid #000000;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.dayName {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    padding: 8px 0;
    border: 1px solid #000000;
}

.dayName:first-child {
    border: 1px solid #000000;
    border-radius: 6px 0 0 0;
}

.dayName:nth-child(7) {
    border: 1px solid #000000;
    border-radius: 0 6px 0 0;
}

.dayCell {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #222730;

    text-align: center;
    padding: 10px 0;
    border: 1px solid #000000;
    cursor: pointer;
}

.dayCell:last-child {
    border: 1px solid #000000;
    border-radius: 0 0 6px 0;
}

.dayCell:nth-last-child(7) {
    border: 1px solid #000000;
    border-radius: 0 0 0 6px;
}

.dayCell:hover {
    border-radius: 5px;
    transform: scale(1.02);
    border: 2px solid var(--color-electric-violet-lighter);
    background-color: var(--color-electric-violet-lighter);
}

.today {
    border: 3px solid var(--color-electric-violet);
    font-weight: bold;
}

.selected {
    border-radius: 5px;
    background: var(--color-electric-violet-lighter);
}

@media screen and (min-width: 768px) {
    .calendar {
        max-width: 704px;
        width: 100%;
        font-family: 'Inter', sans-serif;
        overflow: hidden;
    }

    .header {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 24px;
    }

    .monthNav {
        display: flex;
        justify-content: center;

        width: 134px;
    }

    .month {}

    .navBtn {}

    .grid {}

    .dayName {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 18px;

        line-height: 1.5;
        color: #222730;

        height: 56px;
    }

    .dayCell {
        display: flex;
        align-items: center;
        justify-content: center;

        line-height: 1.5;
        color: #222730;

        height: 56px;
    }
}

@media screen and (min-width: 1440px) {
    .calendar {
        max-width: 864px;
    }
}