.calendar {
    width: 100%;
    max-width: 335px;

    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

.labels {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-scheme-3-text);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 12px;
    font-weight: bold;
}

/* місяць */
.monthNav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;

}

/* тиждень */
.month {
    font-weight: 700;
    font-size: 16px;

    font-family: var(--font-family);
    line-height: 1.5;
    color: var(--color-scheme-3-text);
}

.navBtn {
    cursor: pointer;
    transition: color 0.2s ease;
}

.navBtn:hover {
    color: var(--color-electric-violet-lighter);
    font-size: 20px;
}

.grid {
    border-radius: 6px;
    border: 2px solid #000000;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.dayName {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    padding: 8px 0;
    border: 1px solid #000000;
    border-radius: 2, 5px;
}

.dayCell {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #222730;

    text-align: center;
    padding: 10px 0;
    border: 1px solid #000000;
    cursor: pointer;
    transition: background 0.2s ease;
}

.dayCell:last-child {
    border-right: 2px solid #000000;
}

.grid .dayCell:nth-last-child(-n+7) {
    border-bottom: 2px solid #000000;
}

.dayCell:hover {
    background: var(--color-electric-violet-lighter);
}

.today {
    border: 2px solid var(--color-electric-violet);
    font-weight: bold;
    background: var(--color-electric-violet-lighter);
}

.selected {
    background: var(--color-electric-violet-lighter);
}