.calendar {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;

    width: 335px;
    height: 168px;
}

.item {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;

    width: 335px;
    height: 72px;
}

.field {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;

    border: 2px solid var(--color-neutral-darkest);
    border-radius: 6px;
    padding: 8px 12px;
    width: 100%;
    height: 40px;
}

.field:focus {
    border-color: #007bff;
    outline: none;
}

:global(.react-datepicker) {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;

    border: 2px solid var(--color-electric-violet-light);
    border-radius: 6px;
    width: 100%;
    /* height: 413px; */
    background: var(--color-electric-violet-lightest);
}

:global(.react-datepicker__header) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    padding: 0px 24px;
    height: 56px;
    background: var(--color-electric-violet-lightest);
}

:global(.react-datepicker__day) {
    color: #333;
    border-radius: 4px;
    background-color: #007bff;

    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 13px;
}

:global(.react-datepicker__day--selected) {
    background-color: #28a745;
    color: #fff;
    background-color: #007bff;
}

:global(.react-datepicker__day--disabled) {
    background-color: #eee;
    color: #999;
    cursor: not-allowed;
    background-color: #ff8800;
}

:global(.react-datepicker__day--highlighted) {
    background-color: #ffcccc;
    color: #5b0b0b;
}