.containerConfirmation {
  margin: 0 auto;
  padding: 32px 20px;
  gap: 48px;
}

@media screen and (min-width: 768px) {
  .containerConfirmation {
    padding: 32px;
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .containerConfirmation {
    padding: 48px 64px;
  }
}