/* Styles for Mobile devices */

/* .containerConfirmation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 48px;
  margin: 0 auto;
  padding: 32px 20px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
  margin-bottom: 16px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #000;
  margin-bottom: 16px;
}

.btn {
  width: 335px;
} */

/* Styles for Tablet devices */

/* @media screen and (min-width: 768px) {
  .containerConfirmation {
    padding-top: 138px;
    padding-bottom: 215.61px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .title {
    width: 704px;
  }

  .text {
    width: 704px;
  }

  .btn {
    margin: 0 auto;
    white-space: nowrap;
    padding: 0;
    width: 120px;
    height: 37px;
  }
} */

/* Styles for Desktop devices */

/* @media screen and (min-width: 1440px) {
  .containerConfirmation {
    padding-top: 154px;
    padding-bottom: 200px;
    padding-left: 64px;
    padding-right: 64px;
  }

  .title {
    width: 1312px;
    font-size: 48px;
  }

  .text {
    width: 1312px;
    font-size: 18px;
  }

  .btn {
    width: 131px;
    height: 40px;
  }
} */