.toolBut {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8808cc;
  border-radius: 6px;
  padding: 10px 16px;
  width: 100%;
  max-width: 335px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: #8808cc;
}

.toolBut:hover {
  background: var(--color-white);
  outline: 1px solid var(--color-electric-violet-dark);
  color: var(--color-neutral-darkest);
}

.toolBut:active {
  background: var(--color-electric-violet-lighter);
  outline: 1px solid var(--color-electric-violet-dark);
  color: var(--color-neutral-darkest);
}

.toolBut:disabled {
  background: var(--color-electric-violet-lighter);
  outline: 1px solid var(--color-electric-violet-lighter);
  color: var(--color-white);
  cursor: default;
}

.toolInfo {
}

.toolTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
  margin-bottom: 8px;
}

.toolPrice {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #000;
  margin-bottom: 24px;
}

.toolDescr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 24px;
}

.toolSpec {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 24px;
}

.toolSpecTitle {
  font-weight: 700;
}

.toolOwner {
  display: flex;
  margin-bottom: 24px;
}

.ownerAvatar {
  width: 80px;
  border-radius: 100%;
  margin-right: 16px;
}

.ownerName {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

.ownerLink {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 6px;
  padding: 8px 19px;
  max-width: 192px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

@media (min-width: 768px) {
  .toolBut {
    max-width: 704px;
  }
}

@media (min-width: 1440px) {
  .toolInfo {
    padding-left: 0;

    margin-left: 0;
  }

  .toolBut,
  .toolPrice,
  .toolSpec,
  .toolDescr,
  .toolTitle {
    max-width: 640px;
  }
}
