.navigationLinkBtn {
  padding: 8px 18px;
  height: 40px;
  width: 248px;
  font-weight: 500;
}

.tablet .navigationLinkBtn {
  display: none;
}

.menu .navigationLinkBtn {
  display: none;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .tablet .navigationLinkBtn {
    display: inline-flex;
  }
}

@media screen and (min-width: 1440px) {
  .menu .navigationLinkBtn {
    display: inline-flex;
  }
}
