.navigationLinkBtn {
  padding: 8px 20px;
}

.tablet .navigationLinkBtn {
  display: none;
}

.menu .navigationLinkBtn {
  display: none;
}

.btn {
  padding: 8px 20px;
  font-size: 16px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .tablet .navigationLinkBtn {
    display: inline-flex;
  }
}

@media screen and (min-width: 1440px) {
  .menu .navigationLinkBtn {
    display: inline-flex;
  }
}
