/* Styles for Mobile devices */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.section {
  padding-top: 48px;
  padding-bottom: 32px;
}

.avatarPlaceholder {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: grid;
  place-items: center;
  font-size: 64px;
  font-weight: 700;
  background-color: var(--color-electric-violet);
  color: var(--color-white);
  border: 2px solid var(--color-electric-violet);
}

.avatar {
  width: 129px;
  height: 129px;
  border-radius: 50%;
  overflow: hidden;
}

.avatarImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.username {
  font-weight: 700;
  font-size: 32px;

  /* line-height: 42px; */
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-scheme-3-text);
}

.title {
  font-weight: 700;
  font-size: 48px;

  /* line-height: 58px; */
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
}

/* Styles for Tablet devices */

@media only screen and (min-width: 768px) {
  .wrapper {
    align-items: center;
    flex-direction: row;
  }

  .avatar {
    width: 199px;
    height: 199px;
  }
}

@media only screen and (min-width: 1440px) {
  .section {
    padding-bottom: 16px;
  }
}
