/* Styles for Mobile devices */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.section {
  padding-top: 48px;
}
.avatarWrap {
  position: relative;
}

.avatarPlaceholder {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: grid;
  place-items: center;
  font-size: 64px;
  font-weight: 700;
  background-color: var(--color-electric-violet);
  color: var(--color-white);
  border: 2px solid var(--color-electric-violet);
  object-fit: cover;
}

.avatar {
  width: 129px;
  height: 129px;
  border-radius: 50%;
  overflow: hidden;
}

.manageBtn {
  position: absolute;
  right: 1px;
  bottom: 2px;

  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: grid;
  place-items: center;

  background: var(--color-white);
  border: 2px solid var(--color-electric-violet);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);

  cursor: pointer;
  z-index: 2;
}

.manageBtn:hover {
  background: var(--color-electric-violet-lighter);
}

.manageBtn:active {
  background: var(--color-electric-violet);
  color: var(--color-white);
  border-color: var(--color-electric-violet);
}

.manageBtn svg {
  display: block;
}

.avatarImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.username {
  font-weight: 700;
  font-size: 32px;

  /* line-height: 42px; */
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-neutral-darkest);
}

.title {
  font-weight: 700;
  font-size: 44px;

  /* line-height: 58px; */
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-neutral-darkest);
  margin-top: 64px;
}

/* Styles for Tablet devices */

@media only screen and (min-width: 768px) {
  .wrapper {
    align-items: center;
    flex-direction: row;
  }

  .avatar {
    width: 199px;
    height: 199px;
  }

  .manageBtn {
    right: 8px;
    bottom: 9px;

    width: 48px;
    height: 48px;
  }
}
