.menu {
  padding-top: 16px;
  padding-bottom: 16px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 124px;
  height: 20px;
}

.closeMenuBurger {
  border: 2px solid var(--color-neutral-darkest);
  border-radius: 6px;
  padding: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
