.menu {
  padding-top: 16px;
  padding-bottom: 16px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 124px;
  height: 20px;
}

.closeMenuBurger {
  border: 2px solid var(--color-black);
  border-radius: 6px;
  padding: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.closeMenuBurger:hover,
.closeMenuBurger:focus {
  background-color: var(--color-electric-violet-lighter);
}

.closeMenuBurger:active {
  background-color: var(--color-electric-violet);
}
