.titleText {
font-weight: 700;
font-size: 40px;
line-height: 1.2;
letter-spacing: -0.01em;
padding-top: 48px;
padding-bottom: 48px;

}
@media screen and (min-width: 768px) {
.titleText {
font-size: 32px;
}
}

@media screen and (min-width: 1440px) {
.titleText {
    font-size: 48px;
}
}