.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
  margin: 72px 20px;
}

.form {
  width: 335px;
  height: 756px;
  background-color: #fff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.formTitle {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  color: black;
  margin-bottom: 32px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: black;
}

.input {
  margin-top: 8px;
  border: 2px solid #000;
  border-radius: 6px;
  padding: 8px 12px;
  width: 335px;
  height: 48px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #000 60%;
}

.input:focus {
  border: 2px solid #8808cc;
  border-radius: 6px;
  padding: 8px 12px;
  width: 335px;
  height: 48px;
  outline: none;
}

.error {
  border: 2px solid #c40202;
  border-radius: 6px;
  padding: 8px 12px;
  width: 335px;
  height: 48px;
}

.submitButton {
  border: 1px solid #8808cc;
  background-color: #8808cc;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  border-radius: 6px;
  padding: 10px 24px;
  width: 166px;
  height: 41px;
  transition: background-color 0.3s ease;
  margin-bottom: 24px;
}

.submitButton:hover {
  border: 1px solid #8808cc;
  background-color: #fff;
  color: #000;
}

.submitButton:focus {
  border: 2px solid #000;
  background-color: #e7cdf4;
  color: black;
}

.loginLink {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: black;
}

.loginLink a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {

  .mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
  }
  .form {
    width: 704px;
    height: 756px;
  }

  .input {
    width: 704px;
    height: 77px;
  }

  .input:focus {
    width: 704px;
    height: 77px;
  }

  .error {
    width: 704px;
    height: 77px;
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {

  .wrapper {
    display: flex;
    height: 100vh;
  }

  .formSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 32px;
  }

  .imageSection {
    flex: 1;
    display: block;
    background-image: url('/public/images/register_login_form/login_image.png');
    background-size: cover;
    background-position: center;
  }
  .mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
  }
  .form {
    width: 704px;
    height: 756px;
  }

  .input {
    width: 704px;
    height: 77px;
  }

  .input:focus {
    width: 704px;
    height: 77px;
  }

  .error {
    width: 704px;
    height: 77px;
  }
}