/* Styles for Mobile devices */

.section {
  padding-top: 32px;
  padding-bottom: 64px;
}

/* .title {
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-neutral-darkest);
} */

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.text {
  font-weight: 700;
  font-size: 24px;

  /* line-height: 34px; */
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: var(--color-neutral-darkest);
}

.subtext {
  font-weight: 400;
  font-size: 18px;

  /* line-height: 27px; */
  line-height: 1.5;
  color: var(--color-neutral-darkest);
}

.btn {
  width: 100%;
}

/* Styles for Tablet devices */

@media only screen and (min-width: 768px) {
  .btn {
    width: auto;
    max-width: max-content;
  }
}

/* Styles for Desktop devices */

@media only screen and (min-width: 1440px) {
  .section {
    padding-bottom: 112px;
  }
}
